div {
    display: grid;
    grid-template-columns: 80px 80px 100px;

    .player-icon-name {
        grid-column: 1;
        display: block;

        >img {
            width: auto;
            height: 76px;
            border-radius: 50%;
            border-radius: 50%;
            border-width: 12px;
            border-color: #caca76;
            border-style: outset;

            &.on-move {
                border-color: green;
            }
        }
    }

    p.addition-info {
        grid-column: 2;


        span.game-variant {
            display: block;
            font-size: small;
        }
    }

    app-card {
        grid-column: 3;
        height: min-content;
        width: min-content;
    }

    p.shuffle-round {
        color: #741b1b;
        padding: 2px;
        display: contents;
    }

}