<div *ngIf="player">
    <div class="player-icon-name">

        <img [ngClass]="{ 'on-move':isOnMove}" [src]="player | playerIcon" alt="">
        <span *ngIf="!thisPlayer; else iPlayer">{{ player.userName }}</span>
        <ng-template #iPlayer><span>Ich</span></ng-template>
        <p>{{ player.playerPosition }}</p>
    </div>
    <p class="addition-info" *ngIf="player.gameVariant |valideGameVariant ">
        <span class="game-variant" [translate]>dk.game-variant</span>
        {{ ('dk.variant.'+player.gameVariant) | translate }}
    </p>

    <app-card [card]="player.playedCard" [withDefaultCard]="true"></app-card>
    <p *ngIf="player.shuffleRound" class="shuffle-round" [translate]>dk.player-wants-assign- cards
    </p>
</div>