<div class="dropdown pr-4" *ngIf="user$ | async as user">
    <a class="dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="showMenu" (click)="show=!show">
        <span>({{user.username}}) </span> <i class="fa fa-user"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right text-dark" [ngClass]="{'show':show}"
        aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item ">
        </div>
        <a class="dropdown-item text-dark" routerLink="/users/edit/{{ user.id }}?ld={{backupRout}}"
            (click)="show=false"><span translate>app.settings</span></a>
        <a class="dropdown-item text-dark" (click)="logout()"><span translate>app.logout</span></a>
    </div>
</div>