<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="showMenu" (click)="show=!show">
        <i class="fa fa-language"></i>
    </button>
    <div class="dropdown-menu" [ngClass]="{'show':show}" aria-labelledby="dropdownMenuButton">
        <button *ngFor="let language of languages" type="button"
            class="dropdown-item btn btn-secondary" (click)="setLanguage(language)">{{language.name
            }}</button>
    </div>
</div>