<div class="container-fluid background-image main-pager">
  <nav
    class="row nav navbar navbar-expand p-2 px-3"
    *ngIf="user$ | async as user"
  >
    <!--   <div class="navbar-nav w-100 d-flex"> -->
    <a
      class="nav-item nav-link col-auto"
      [ngClass]="{ 'me-auto': !(user.admin || user.editUser) }"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      [translate]
      >dk.console-tables</a
    >
    <a
      *ngIf="user.admin || user.editUser"
      class="nav-item nav-link col-auto"
      [ngClass]="{ 'me-auto': user.admin || user.editUser }"
      (click)="editUser()"
      routerLinkActive="active"
      [translate]
      >app.users</a
    >
    <app-nav-item-user
      [previousRoute]="route.url"
      class="nav-item col-auto justify-self-end"
    >
    </app-nav-item-user>
    <!-- </div> -->
  </nav>

  <div class="row">
    <div class="col">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
