<div *ngIf="tablePlayerState" class="select-items-hover table-body">
  <div class="select-variant">
    <app-select-variant
      *ngIf="
        !(tablePlayerState.thisPlayer.gameVariant | valideGameVariant) &&
          (tablePlayerState | playStatusSelectVariant);
        else selectedVariant
      "
      (selected)="variantSelected($event)"
    ></app-select-variant>
    <ng-template #selectedVariant>
      <h3
        *ngIf="
          (tablePlayerState.thisPlayer.gameVariant | valideGameVariant) &&
          (tablePlayerState | playStatusSelectVariant)
        "
      >
        {{
          'dk.variant.' + tablePlayerState.thisPlayer.gameVariant | translate
        }}
        <span [translate]>dk.selected-game-variant</span>
        <h5 [translate]>dk.wait-for-other-players</h5>
        <ul class="list-group list-group-flush">
          <ng-container *ngFor="let player of tablePlayerState.players">
            <li class="list-group-item" *ngIf="!player.nextTurn">
              {{ player.userName }}
            </li>
          </ng-container>
        </ul>
      </h3>
    </ng-template>
  </div>

  <div
    class="next-step"
    *ngIf="
      (tablePlayerState | playStatusWaitNextRound) ||
      (tablePlayerState | playStatusWinnerTime)
    "
  >
    <div *ngIf="!tablePlayerState.thisPlayer.nextTurn; else waitForNextPlayer">
      <app-next-turn-button
        [withTimer]="tablePlayerState | playStatusWaitNextRound"
        (runNextTurn)="nextTurn()"
      ></app-next-turn-button>
      <app-result-table
        *ngIf="tablePlayerState | playStatusWinnerTime"
        [tablePlayerState]="tablePlayerState"
      ></app-result-table>
    </div>
    <ng-template #waitForNextPlayer>
      <h2 [translate]>dk.wait-for-other-players</h2>
      <ng-content []></ng-content>
    </ng-template>
  </div>
</div>

<div *ngIf="showLastStich" class="container">
  <div class="row me-3 align-items-center justify-content-center">
    <app-last-stich class="col-xs-12" [tableId]="tableId"></app-last-stich>
  </div>
  <div class="row me-3 align-items-center justify-content-center">
    <button
      class="col-auto btn btn-primary mb-2"
      (click)="closeLastStich()"
      [translate]
    >
      dk.next
    </button>
  </div>
</div>

<ng-template>
  <ul *ngIf="waitingForPlayers$ | async as waitingForPlayers">
    <li *ngFor="let playerName of waitingForPlayers">{{ playerName }}</li>
  </ul>
</ng-template>
