<div class="select-items-hover table-body">
    <div class="select-variant">
        <app-select-variant
            *ngIf="!(tablePlayerState.thisPlayer.gameVariant |valideGameVariant) && (tablePlayerState | playStatusSelectVariant) ;else selectedVariant "
            (selected)="variantSelected($event)"></app-select-variant>
        <ng-template #selectedVariant>
            <h3
                *ngIf="(tablePlayerState.thisPlayer.gameVariant |valideGameVariant ) && (tablePlayerState | playStatusSelectVariant)">
                {{ ('dk.variant.'+tablePlayerState.thisPlayer.gameVariant) | translate }}
                <span [translate]>dk.selected-game-variant</span>
                <h5 [translate]>dk.wait-for-other-players</h5>
            </h3>
        </ng-template>
    </div>

    <div class="next-step"
        *ngIf="(tablePlayerState | playStatusWaitNextRound) || (tablePlayerState | playStatusWinnerTime)">
        <div *ngIf="!tablePlayerState.thisPlayer.nextTurn; else waitForNextPlayer">
            <button (click)="nextTurn()" class="btn" [translate]>
                dk.next
            </button>
            <app-result-table *ngIf="(tablePlayerState | playStatusWinnerTime)"
                [tablePlayerState]="tablePlayerState"></app-result-table>
        </div>
        <ng-template #waitForNextPlayer>
            <h3 [translate]>dk.wait-for-other-players</h3>
        </ng-template>

    </div>

</div>