<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="tableName">Name</label>
      <input type="text" formControlName="tableName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.tableName.errors }" />
      <div *ngIf="submitted && f.tableName.errors" class="invalid-feedback">
        <div *ngIf="f.tableName.errors.required">table Name is required</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
    <a routerLink="" class="btn btn-link">Cancel</a>
  </div>
</form>