<h1 *ngIf="isAddMode" [translate]>user.add-user</h1>
<h1 *ngIf="!isAddMode" [translate]>user.edit-user</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!--   <div class="form-row">
    <div class="form-group col">
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }" />
      <div *ngIf="submitted && formControls.firstName.errors" class="invalid-feedback">
        <div *ngIf="formControls.firstName.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && formControls.lastName.errors }" />
      <div *ngIf="submitted && formControls.lastName.errors" class="invalid-feedback">
        <div *ngIf="formControls.lastName.errors.required">Last Name is required</div>
      </div>
    </div>
  </div> -->
  <div class="form-row">
    <div class="form-group col">
      <label for="username" [translate]>user.username</label>
      <input type="text" formControlName="username" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }" />
      <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
        <div *ngIf="formControls.username.errors.required" [translate]>user.user-required</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="password" [translate]>
        user.password
        <em *ngIf="!isAddMode" [translate]>user.leave-blank-for-same-password</em>
      </label>
      <input type="password" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" />
      <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
        <div *ngIf="formControls.password.errors.required" [translate]>user.password-is-required
        </div>
        <div *ngIf="formControls.password.errors.minlength" [translate]>
          user.password-6-characters
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="user.admin">
    <div class="form-row">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" formControlName="editUser" id="editUser">
        <label class="form-check-label" for="editUser" [translate]>user.could-edit-users</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" formControlName="editTables"
          id="editTables">
        <label class="form-check-label" for="editTables" [translate]>user.could-edit-tables</label>
      </div>
    </div>
  </ng-container>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      {{'user.save' | translate}}
    </button>
    <a routerLink="/users" class="btn btn-link">{{'user.cancel' | translate}}</a>
  </div>
</form>