<div class="container-fluid">
  <div class="row">
    <div class="card col-12">
      <div class="card-header row d-flex">
        <h1 class="col" translate>app.users</h1>
        <div class="col-auto justify-self-end">
          <a routerLink="../add" class="btn btn-primary col-auto" translate
            >user.add-user</a
          >
        </div>
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr class="row px-3">
              <th class="col-6" translate>user.username</th>
              <!--       <th style="width: 30%">First Name</th>
            <th style="width: 30%">Last Name</th> -->
              <th class="col-6"></th>
            </tr>
          </thead>
          <tbody class="border-0">
            <tr *ngFor="let user of users" class="row px-3">
              <td class="col-6">{{ user.username }}</td>
              <!--  <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td> -->
              <td class="col-6 d-flex justify-content-end">
                <a
                  routerLink="../edit/{{ user.id }}"
                  class="btn btn-primary mx-2"
                  >{{ 'user.edit' | translate }}</a
                >
                <button
                  (click)="deleteUser(user.id)"
                  class="btn btn-danger mx-2"
                  [disabled]="user.isDeleting"
                >
                  <span
                    *ngIf="user.isDeleting"
                    class="spinner-border spinner-border-sm"
                  ></span>
                  <span *ngIf="!user.isDeleting" translate>app.delete</span>
                </button>
              </td>
            </tr>
            <tr *ngIf="!users">
              <td colspan="4" class="text-center">
                <span
                  class="spinner-border spinner-border-lg align-center"
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
