.table-background {
    z-index: 1;
    width: 100%;
    width: 100%;
    height: calc(100vh - 65px);
    position: absolute;
    left: 0;
    background-color: rgb(233, 227, 193);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 35% calc(65% - 80px);

    .back-top {
        grid-column: 1;
        grid-row: 2;
        background-color: rgb(190, 164, 124);
        clip-path: polygon(50% 100%, 100% 18%, 100% 0, 0 0, 0 18%);
    }

    .back-bottom {
        grid-column: 1;
        grid-row: 3;
        background-color: rgb(190, 164, 124);

        clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    }
}

div.table-container {
    display: grid;
    height: 100%;
    grid-template-rows: 50px 50px calc(100% - 100px);
    padding: 10px;
    background-color: transparent;
    z-index: 5;
    //background-color: rgb(220, 218, 215);

    >div.tale-header {
        grid-row: 1;
        display: grid;
        grid-template-columns: auto auto;
        z-index: 2;



        >h2.header-name {
            grid-column: 1;

            >span {
                font-size: small;
            }
        }

        >div.addition-buttons {
            grid-column: 2;
            justify-self: end;

            &button.btn {
                padding-right: 5px;
            }
        }
    }

    >div.table-body {
        grid-row: 3;
        display: grid;
        grid-template-rows: auto auto;
        z-index: 1;

        background-color: transparent;

        >div.table-section {
            grid-row: 1;
            padding-left: 15px;
            padding-right: 15px;
        }

        >div.this-player-cards {
            grid-row: 2;
            background-image: "./assets/images/fwstudio.jpg";
            height: 100%;
        }

    }

    >div.table-body.select-items-hover {
        width: 100%;
        width: 100%;
        height: calc(100vh - 65px);
        position: absolute;
        left: 0;

        text-align: center;
        position: absolute;
        width: 100%;
        z-index: 11;
        background-color: rgba(249, 250, 250, 0.56);

        >div.select-variant {
            width: max-content;
            height: auto;
            line-height: 200px;
            position: fixed;
            top: 30%;
            left: 40%;
            text-align: center;

            span {
                font-size: initial;
                display: block;
                padding: 5px;
            }
        }

        >div.next-step {
            top: 50%;
            position: relative;
            text-align: center;

            button.btn {
                background-color: rgb(10, 131, 54);
                border-radius: 50%;
                position: fixed;
                height: 150px;
                width: 150px;
                color: white;
                font-size: x-large;

            }
        }

        h3 {
            color: rgb(10, 131, 54);
            background-color: rgba(249, 250, 250, 0.60);

        }
    }


}