.table-background {
    z-index: 1;
    width: 100%;
    width: 100%;
    height: calc(100vh - 109px);
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #918c439c;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;

    .back-top {
        grid-column: 1;
        grid-row: 1;
        background-color: #a69a6ad6;
        clip-path: polygon(50% 100%, 100% 18%, 100% 0, 0 0, 0 18%);
    }

    .back-bottom {
        grid-column: 1;
        grid-row: 2;
        background-color: #a69a6ad6;
        clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    }
}

div.table-container {
    display: grid;
    height: calc(100vh - 57px);
    grid-template-rows: 50px 0px calc(100% - 50px);
    padding: 10px;
    background-color: transparent;
    z-index: 5;
    //background-color: rgb(220, 218, 215);

    >div.tale-header {
        grid-row: 1;
        display: grid;
        grid-template-columns: auto auto;
        z-index: 2;



        >h2.header-name {
            grid-column: 1;

            >span {
                font-size: small;
            }
        }

        >div.addition-buttons {
            grid-column: 2;
            justify-self: end;

            &button.btn {
                padding-right: 5px;
            }
        }
    }

    .table-outlet {
        grid-row: 3;
        z-index: 1;
        background-color: transparent;
        height: 100;
        display: grid;
    }

    router-outlet {
        display: none;
    }
}