<div class="table-background">
  <div class="back-top"></div>
  <div class="back-bottom"></div>
</div>

<div class="table-container" *ngIf="table$ | async as playTable">
  <div class="tale-header">
    <h3 class="header-name" (click)="reloadTable()">
      {{ playTable.name }}
      <span><a class="btn btn-sm btn-secondary m-2" (click)="openJitsi(playTable.name)">Jitsi</a>
      </span>
    </h3>
    <!--  <span>{{playTable.status}}</span> -->
  </div>
  <div class="table-outlet">
    <router-outlet></router-outlet>
  </div>
</div>