<div class="table-background">
  <div class="back-top"></div>
  <div class="back-bottom"></div>
</div>

<div class="table-container" *ngIf="table$ | async as playTable">
  <div class="tale-header row">
    <h3 class="header-name col-auto me-auto" (click)="reloadTable()">
      {{ playTable.name }}
    </h3>
    <div class="col-auto d-grid justify-content-end">
      <a class="btn btn-secondary m-2" (click)="openJitsi(playTable.name)"
        >Jitsi</a
      >
    </div>

    <!--  <span>{{playTable.status}}</span> -->
  </div>
  <div class="table-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
