<div class="card" *ngIf="onHubConnect$ | async; else loading">
  <div class="card-header" *ngIf="currentUser$ |async as currentUser">
    <h1 [translate]>dk.console-tables</h1>
    <a *ngIf="(currentUser.editTables || currentUser.admin)" routerLink="table"
      class="btn btn-sm btn-success mb-2" [translate]>dk.new-play-table</a>
  </div>
  <div class="card-body" *ngIf="tables$ | async as tables">

    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 30%" [translate]>dk.name</th>
          <th style="width: 10%" [translate]>dk.users</th>
          <th style="width: 5%"></th>
          <th style="width: 35%"></th>
        </tr>
      </thead>
      <tbody *ngIf="user$ | async as user">
        <tr *ngFor="let playTable of tables; trackBy: trackPlayTable">
          <td>{{ playTable.name }}</td>
          <td>{{ playTable.userCount }}</td>
          <td>{{ '' }}</td>
          <td style="white-space: nowrap">
            <!--  <a routerLink="edit/{{playTable.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>-->
            <div class="btn-group" *ngIf="userTableId$ | async as userTableId">
              <button type="button" *ngIf="user.editTables || user.admin"
                (click)="deleteTable(playTable)" class="btn btn-sm btn-danger mb-2"
                [disabled]="!user.admin">
                <span *ngIf="deleteTableIds[playTable.id]"
                  class="spinner-border spinner-border-sm"></span>
                <span *ngIf="!deleteTableIds[playTable.id]" [translate]>dk.delete</span>
              </button>
              <button type="button" class="btn btn-sm btn-success mb-2"
                (click)="runWithOnTable(playTable.id, userTableId === playTable.id)"
                [disabled]="playTable.userCount === 4 && userTableId != playTable.id">
                <span *ngIf="userTableId != playTable.id; else goIntoGame"
                  [translate]>dk.play-with</span>
                <ng-template #goIntoGame> <span [translate]>dk.play-on</span></ng-template>
              </button>
              <button type="button" *ngIf="userTableId == playTable.id" (click)="goOutOfTable()"
                class="btn btn-sm btn-danger mb-2">
                <span *ngIf="deleteTableIds[playTable.id]"
                  class="spinner-border spinner-border-sm"></span>
                <span *ngIf="!deleteTableIds[playTable.id]" [translate]>dk.go-out</span>
              </button>
              <button type="button" (click)="watchTable(playTable)"
                class="btn btn-sm btn-success mb-2">
                <span *ngIf="deleteTableIds[playTable.id]"
                  class="spinner-border spinner-border-sm"></span>
                <span [translate]>dk.watch</span>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="!tables$">
          <td colspan="4" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Loding -->
<ng-template #loading>
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>