<div class="player-list">
    <div *ngFor="let player of players" class="player-info"
        [ngClass]="['player-info-'+player.viewPosition, 'player-background-'+player.viewPosition]">
        <div class="img" [ngClass]="{ 'on-move':(player.playerPosition==positionOnMove)}">
            <img [src]="player | playerIcon" alt="">
            <span [ngClass]="{ 'puls':(player.playerPosition==positionOnMove)}"></span>
        </div>
        <div>
            <h4>{{ player.userName }} </h4>
            <div>
                <ul>
                    <li>
                    </li>
                    <li *ngIf="currentGiverPos == player.playerPosition" [translate]>
                        dk.giver
                    </li>
                    <li class="addition-info" *ngIf="player.gameVariant |valideGameVariant ">
                        {{ ('dk.variant.'+player.gameVariant) | translate }}
                    </li>
                    <li *ngIf="(player.playerId==thisPlayerId || showPointsForAllPlayers)">
                        {{'dk.points' | translate}}:
                        {{player.roundsPoints}}
                    </li>
                    <li *ngIf="player.shuffleRound" class="shuffle-round" translate>
                        dk.player-wants-assign-cards</li>

                    <!--                     <li>
                        <button class="btn btn-smal"><i class="fas fa-check"></i></button>
                        <button class="btn btn-smal"><i class="fas fa-times"></i></button>
                    </li> -->
                    <li *ngIf="enableShowCardsOfPlayer && showCardsOfPlayer<0"><button
                            class="btn btn-primary btn-sm" (click)="showCardsOf(player)"
                            translate>dk.show-cards</button></li>
                </ul>

            </div>
        </div>

    </div>
    <div class="player-cards">
        <app-card *ngFor="let player of players; trackBy: trackCards"
            [ngStyle]="{'z-index':player.playerPosition | cardIndexPosition:currentGiverPos}"
            [ngClass]="['player-card-'+player.viewPosition]" [card]="player.playedCard"
            [withDefaultCard]="false">
            <p>{{player.playedCard|json}}</p>
        </app-card>
    </div>
</div>