<div class="player-header">
    <h5 *ngIf="tableGameVariant |valideGameVariant" class="table-game-variant">
        {{('dk.variant.'+tableGameVariant) | translate}}</h5>
    <div class="buttons">
        <button (click)="lastStich()" class="btn btn-sm btn-success mb-2"
            [translate]>dk.last-stich</button>
    </div>
</div>

<div class="player-list">
    <div *ngFor="let player of players" class="player-info"
        [ngClass]="['player-info-'+player.viewPosition, 'player-background-'+player.viewPosition]">
        <div class="img" [ngClass]="{ 'on-move':(player.playerPosition==positionOnMove)}">
            <img [src]="player | playerIcon" alt="">
            <span [ngClass]="{ 'puls':(player.playerPosition==positionOnMove)}"></span>
        </div>
        <div>
            <h4>{{ player.userName }}
                <span *ngIf="(player.playerId==thisPlayerId || showPointsForAllPlayers)">
                    ({{player.roundsPoints}})
                </span>
            </h4>
            <div>
                <ul>
                    <li *ngIf="currentGiverPos == player.playerPosition" [translate]>
                        dk.giver
                    </li>
                    <li class="addition-info"
                        *ngIf="(player.gameVariant |valideGameVariant) && !(player.gameVariant | gameVariantNormal)">
                        {{ ('dk.variant.'+player.gameVariant) | translate }}
                    </li>
                    <li *ngIf="player.shuffleRound" class="shuffle-round" translate>
                        dk.player-wants-assign-cards</li>
                    <li class="announcement"
                        *ngIf="(player.playerId==thisPlayerId); else showAnnouncement">
                        <app-announcement-selector
                            (announcementSelected)="announcementSelected($event)"
                            [announcement]="player.dutyAnnouncement">
                        </app-announcement-selector>
                    </li>
                    <ng-template #showAnnouncement>
                        <li *ngIf="player.message" class="message"> {{player.message}} </li>
                    </ng-template>

                    <!--                     <li>
                        <button class="btn btn-smal"><i class="fas fa-check"></i></button>
                        <button class="btn btn-smal"><i class="fas fa-times"></i></button>
                    </li> -->
                    <li *ngIf="enableShowCardsOfPlayer && showCardsOfPlayer<0"><button
                            class="btn btn-primary btn-sm" (click)="showCardsOf(player)"
                            translate>dk.show-cards</button></li>
                </ul>

            </div>
        </div>

    </div>
    <div class="player-cards">
        <app-card *ngFor="let player of players; trackBy: trackCards"
            [ngStyle]="{'z-index':player.playerPosition | cardIndexPosition:currentGiverPos}"
            [ngClass]="['player-card-'+player.viewPosition]" [card]="player.playedCard"
            [withDefaultCard]="false">
            <p>{{player.playedCard|json}}</p>
        </app-card>
    </div>
</div>