 div {
     height: 100%;

     >div.table-body {
         display: grid;
         height: 100%;
         grid-template-rows: 70% 30%;
         z-index: 1;

         background-color: transparent;

         >div.table-section {
             grid-row: 1;
             padding-left: 15px;
             padding-right: 15px;
         }

         >div.this-player-cards {
             grid-row: 2;
             background-image: "./assets/images/fwstudio.jpg";
             height: 100%;
             max-width: 1000px;
             justify-self: center;
             min-width: 850px;
         }

     }

 }

 app-hover-step-board {
     width: 100%;
     width: 100%;
     height: calc(100vh - 100px);
     position: absolute;
     left: 0;
     top: 100px;
     position: absolute;
     width: 100%;
     z-index: 11;
     background-color: rgba(249, 250, 250, 0.56);
 }

 .spinner-grow {
     position: absolute;
     top: calc(50% - 65px);
     left: 50%;
     height: 75px;
     width: 75px;

 }