<div *ngIf="playTable$ | async as tablePlayerState; else loading">
  <!-- <div class="addition-buttons">
    <button [ngClass]="{
        disabled: tablePlayerState.userCount !== 4 || !(tablePlayerState | showCards) || (tablePlayerState.thisPlayer && tablePlayerState.thisPlayer.shuffleRound)
      }" (click)="shuffleCards()" class="btn btn-sm btn-primary mb-2" [translate]>
        dk.assign-cards
    </button>
</div>
 -->

  <div class="table-body">
    <div class="table-section">
      <app-players-table
        [players]="tablePlayerState.players"
        [thisPlayerId]="
          tablePlayerState.thisPlayer
            ? tablePlayerState.thisPlayer.playerId
            : -1
        "
        [positionOnMove]="tablePlayerState.currentPlayerPosition"
        [currentGiverPos]="tablePlayerState.roundCardsGiversPosition"
        [tableGameVariant]="tablePlayerState.gameVariant"
        (announcementChanged)="announcementChanged($event)"
        (showLastStich)="showLastStich(true)"
      ></app-players-table>
    </div>

    <div class="this-player-cards">
      <div *ngIf="tablePlayerState | showCards">
        <app-card-map
          [diamondsAceAsMaster]="tablePlayerState.diamondsAceAsMaster"
          [disabled]="
            tablePlayerState.players[3].playerPosition !==
            tablePlayerState.currentPlayerPosition
          "
          (cardSelected)="cardSelected($event)"
          [sourceHubMethode]="cardSourceMethode"
          [gameVariant]="tablePlayerState.gameVariant"
        >
        </app-card-map>
      </div>
    </div>
  </div>

  <app-hover-step-board
    *ngIf="
      !(tablePlayerState | playStatusRun) ||
      (tablePlayerState | playStatusWinnerTime) ||
      lastStich
    "
    [tablePlayerState]="tablePlayerState"
    (gameVariantSelected)="variantSelected($event)"
    (runNextTurn)="nextTurn()"
    [waitingForPlayers$]="waitingForNextTurnPlayers$"
    [tableId]="tablePlayerState.tableId"
    (closeBoard)="showLastStich(false)"
    [showLastStich]="lastStich"
  >
  </app-hover-step-board>
</div>

<ng-template #loading>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
